.layout {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;

  &__header {
    // position: fixed;
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .layout {
    flex-direction: row;

    &__header {
      width: 10vw;
    }

    &__main {
      width: 90vw;
    }
  }
}
