.layout {
  min-height: 100vh;
  width: 100vw;
  background-color: #2c2a30;

  &__main {
    padding: 1rem;
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .layout {
    &__main {
      padding: 2rem;
    }
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .layout {
    &__main {
      padding: 2rem 4rem;
    }
  }
}
