// breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;
$extra-large-desktop-breakpoint: 2560px;

//colors
$primary-color: #6495ed;
$text-color: #f5f5f5;
$disabled-background-color: #cccccc;
$disabled-text-color: #909090;
$outline-color: $text-color;
