$primary-color: #6495ed;
$text-color: #f5f5f5;

$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;
$extra-large-desktop-breakpoint: 2560px;
